{% extends "admin/layout.html.twig" %}
{% block body %}
    <div class="container">
        <br>
        <h1>Ennemis</h1>
        <br>
        <div class="row">
            <a href="{{ path('ennemi_add') }}" class="btn btn-primary m-1 p-2"> Ajouter une ennemi </a>
        </div>
        <br>
        <div>
            <table class="table">
                <caption>Récapitulatif des ennemis</caption>
                <thead class="thead-dark">
                <tr><th>nom</th><th>id</th><th>degats</th><th>pv</th><th>nom sprite</th><th>sprite</th>
                    <th>opération</th>
                </tr>
                </thead>
                <tbody>
                {% if ennemis is not empty %}
                    {% for ennemi in ennemis  %}
                        <tr>
                            <td>{{ennemi.nom}}</td>
                            <td>{{ennemi.id}}</td><td>{{ennemi.degats}}</td><td>{{ennemi.pv}}</td><td>
                                {{ennemi.sprite}}</td><td>
                                <img style="width:40px;height:40px" src="{{asset('sprites/ennemis')}}{{ennemi.sprite}}" alt="image du produit" >
                            </td>
                            <td>
                                <a href="{{ path('ennemi_edit', {id: ennemi.id}) }}" class="btn btn-primary">modifier</a>
                                <form action="{{ path('ennemi_delete') }}" method="POST" style="display:inline">
                                    <input type="hidden" name="token" value="{{ csrf_token('ennemi_delete') }}">
                                    <input type="hidden" name="id" value="{{ ennemi.id }}">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button type="submit" class="btn btn-warning">Supprimer</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr class="table-warning"><td>Pas d'ennemis</td></tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}