{% extends "user/layout_user.html.twig" %}
{% block body %}
    <script>
        declare var event: MouseEvent;
    </script>
    <style>
        body {
            background-color: #b8daff ;
            white-space: nowrap;
        }
    </style>
    <div class="container-fluid">
        <br><br><br>
        <div class="container-xl" style="border-radius: 10px;border-style: solid">
            <br><h1 style="color:#78ade6">&nbsp;&nbsp;Votre Inventaire</h1><br><br>
            {% if equipement is not empty %}
                    <div class="row" id="inventaire">
                    <img style="width:275px;height:275px" src="{{asset('sprites/personnage/personnage.png')}}" alt="image du personnage">
                    <div class="container-xs col-sm-1" style="background-color: #cbb8ff;border-radius: 10px 0 0 10px;">
                        <div>
                            <br>
                            <div id="drop1" style="width:55px;height:55px;margin-bottom: 14px;border: solid;">
                                {% if equipement.casque %}
                                    <img id="armure{{ equipement.casque.id }}" class="item" style="width:50px;height:50px;margin-right: 10px" src="{{asset('sprites/armures/')}}{{equipement.casque.sprite}}" alt="sprite">
                                {% endif %}
                            </div>
                            <div id="drop2" style="width:55px;height:55px;margin-bottom: 14px;border: solid;">
                                {% if equipement.plastron %}
                                    <img id="armure{{ equipement.plastron.id }}" class="item" style="width:50px;height:50px;margin-right: 10px" src="{{asset('sprites/armures/')}}{{equipement.plastron.sprite}}" alt="sprite">
                                {% endif %}
                            </div>
                            <div id="drop3" style="width:55px;height:55px;margin-bottom: 14px;border: solid;">
                                {% if equipement.jambieres %}
                                    <img id="armure{{ equipement.jambieres.id }}" class="item" style="width:50px;height:50px;margin-right: 10px" src="{{asset('sprites/armures/')}}{{equipement.jambieres.sprite}}" alt="sprite">
                                {% endif %}
                            </div>
                            <div id="drop4" style="width:55px;height:55px;margin-bottom: 14px;border: solid;">
                                {% if equipement.bottes %}
                                    <img id="armure{{ equipement.bottes.id }}" class="item" style="width:50px;height:50px;margin-right: 10px" src="{{asset('sprites/armures/')}}{{equipement.bottes.sprite}}" alt="sprite">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="container-xs col-sm-1" style="background-color: #cbb8ff;border-radius: 0 10px 10px 0;">
                        <div>
                            <br>
                            <div id="drop5" style="width:55px;height:55px;margin-bottom: 14px;border: solid;">
                                {% if equipement.arme %}
                                    <img id="arme{{ equipement.arme.id }}" class="item" style="width:50px;height:50px;margin-right: 10px" src="{{asset('sprites/armes/')}}{{equipement.arme.sprite}}" alt="sprite" onclick="transferSword(event, '{{ equipement.arme.id }}')">
                                {% endif %}
                            </div>
                            <div id="drop6" style="width:55px;height:55px;margin-bottom: 14px;border: solid;">
                                {% if equipement.potion %}
                                    <img id="potion{{ equipement.potion.id }}" class="item" style="width:50px;height:50px;margin-right: 10px" src="{{asset('sprites/potions/')}}{{equipement.potion.sprite}}" alt="sprite" onclick="transferPotion(event, '{{ equipement.potion.id }}')">
                                {% endif %}
                            </div>
                            <div id="div-to-refresh">
                                <h6>Argent : </h6>
                                <div>{{ user.argent }} <img style="width:20px;height:20px;" src="{{asset('images/coin.png')}}" alt="coin"></div><br>
                                <h6>PV :</h6>
                                <div>{{ user.pv }}/{{ user.pvMax }} <img style="width:20px;height:20px;" src="{{asset('images/heart.png')}}" alt="coin"></div>
                            </div>
                        </div>
                    </div>
                    <div class="container-xs col-sm-1" style="background-color: #b8daff"></div>
                    <div class="container-xs col-sm-5" style="background-color: #ffd3b8;border-radius:10px;">
                        <br><h4 style="text-align: center">Sac à dos</h4>
                        <div id="sac" style="background-color: #ffd3b8;white-space: nowrap;overflow-x:hidden;overflow-y:scroll;border-radius: 10px;height: 225px;text-align: justify">
                            <br>
                            {% if armes is not empty %}
                                {% for key, arme in armes %}
                                    {% if key != 0 and key%6 == 0 %}
                                        <br><br>
                                    {% endif %}
                                    {% if equipement.arme and arme.inventID != equipement.arme.id %}
                                        <img id="arme{{ arme.inventID }}" class="item" style="width:50px;height:50px;margin-right: 10px" src="{{asset('sprites/armes/')}}{{arme.sprite}}" alt="sprite" onclick="transferSword(event, '{{ arme.inventID }}')">
                                    {% elseif not equipement.arme %}
                                        <img id="arme{{ arme.inventID }}" class="item" style="width:50px;height:50px;margin-right: 10px" src="{{asset('sprites/armes/')}}{{arme.sprite}}" alt="sprite" onclick="transferSword(event, '{{ arme.inventID }}')">
                                    {% endif %}
                                {% endfor %}
                                <br><br>
                            {% endif %}
                            {% if armures is not empty %}
                                {% for key, armure in armures %}
                                    {% if key != 0 and key%6 == 0 %}
                                        <br><br>
                                    {% endif %}
                                    <img id="armure{{ armure.inventID }}" class="item" style="width:50px;height:50px;margin-right: 10px" src="{{asset('sprites/armures/')}}{{armure.sprite}}" alt="sprite" onclick="transferArmor(event, '{{ armure.nomType }}','{{ armure.inventID }}')">
                                {% endfor %}
                                <br><br>
                            {% endif %}
                            {% if potions is not empty %}
                                {% for key, potion in potions %}
                                    {% if key != 0 and key%6 == 0 %}
                                        <br><br>
                                    {% endif %}
                                    {% if equipement.potion and potion.inventID != equipement.potion.id %}
                                        <img id="potion{{ potion.inventID }}" class="item" style="width:50px;height:50px;margin-right: 10px" src="{{asset('sprites/potions/')}}{{potion.sprite}}" alt="sprite" onclick="transferPotion(event, '{{ potion.inventID }}')" >
                                    {% elseif not equipement.potion %}
                                        <img id="potion{{ potion.inventID }}" class="item" style="width:50px;height:50px;margin-right: 10px" src="{{asset('sprites/potions/')}}{{potion.sprite}}" alt="sprite" onclick="transferPotion(event, '{{ potion.inventID }}')" >
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            <br>
                        </div>
                    </div>
                </div>
            {% else %}
                <div style="text-align: center">Veuillez lancer le jeu une première fois pour voir votre équipement</div><br>
            {% endif %}
            <br><br><br>
        </div>
        <br>
    </div>
    <script>
        function transferSword(ev, inventaire) {
            if(document.getElementById("drop5").firstElementChild !== null){
                document.getElementById("sac").appendChild(document.getElementById("drop5").firstElementChild);
                document.getElementById("drop5").replaceChild(document.getElementById(ev.target.id),document.getElementById("drop5").firstChild)
            } else {
                document.getElementById("drop5").appendChild(document.getElementById(ev.target.id));
            }
            window.location.replace("/inventaire/equipe/" + 1 + "/" + inventaire);
        }
        function transferPotion(ev, inventaire) {
            if(document.getElementById("drop6").firstElementChild !== null ){
                document.getElementById("sac").appendChild(document.getElementById("drop6").firstElementChild);
                document.getElementById("drop6").replaceChild(document.getElementById(ev.target.id),document.getElementById("drop6").firstChild)
            } else {
                document.getElementById("drop6").appendChild(document.getElementById(ev.target.id));
            }
            window.location.replace("/inventaire/equipe/" + 6 + "/" + inventaire);
        }
        function transferArmor(ev, type, inventaire) {
            switch (type) {
                case "Casque":
                    if(document.getElementById("drop1").firstElementChild !== null){
                        document.getElementById("sac").appendChild(document.getElementById("drop1").firstElementChild);
                        document.getElementById("drop1").replaceChild(document.getElementById(ev.target.id),document.getElementById("drop1").firstChild)
                    } else {
                        document.getElementById("drop1").appendChild(document.getElementById(ev.target.id));
                    }
                    window.location.replace("/inventaire/equipe/" + 2 + "/" + inventaire);
                    break;
                case "Plastron":
                    if(document.getElementById("drop2").firstElementChild !== null){
                        document.getElementById("sac").appendChild(document.getElementById("drop2").firstElementChild);
                        document.getElementById("drop2").replaceChild(document.getElementById(ev.target.id),document.getElementById("drop2").firstChild)
                    } else {
                        document.getElementById("drop2").appendChild(document.getElementById(ev.target.id));
                    }
                    window.location.replace("/inventaire/equipe/" + 3 + "/" + inventaire);
                    break;
                case 'Jambieres':
                    if(document.getElementById("drop3").firstElementChild !== null){
                        console.log("coucou");
                        document.getElementById("sac").appendChild(document.getElementById("drop3").firstElementChild);
                        document.getElementById("drop3").replaceChild(document.getElementById(ev.target.id),document.getElementById("drop3").firstChild)
                    } else {
                        document.getElementById("drop3").appendChild(document.getElementById(ev.target.id));
                    }
                    window.location.replace("/inventaire/equipe/" + 4 + "/" + inventaire);
                    break;
                case 'Chaussures':
                    if(document.getElementById("drop4").firstElementChild !== null){
                        document.getElementById("sac").appendChild(document.getElementById("drop4").firstElementChild);
                        document.getElementById("drop4").replaceChild(document.getElementById(ev.target.id),document.getElementById("drop4").firstChild)
                    } else {
                        document.getElementById("drop4").appendChild(document.getElementById(ev.target.id));
                    }
                    window.location.replace("/inventaire/equipe/" + 5 + "/" + inventaire);
                    break;
            }
        }
    </script>
{% endblock %}