{% extends "user/layout_user.html.twig" %}
{% block body %}
    <script>
        declare var event: DragEvent;
    </script>
    <div class="container-fluid">
        <br><br><br>
        <div class="container-xl" style="background-color: #b8daff;white-space: nowrap">
            <br><h1 style="color:#78ade6">&nbsp;&nbsp;Votre Inventaire</h1><br><br>
            <div class="row">
                <img style="width:275px;height:275px" src="{{asset('sprites/personnage/personnage.png')}}" alt="image du personnage">
                <div class="container-xs col-sm-1" style="background-color: #cbb8ff;border-radius: 10px 0 0 10px;">
                    <div>
                        <br>
                        <div id="drop1" style="width:55px;height:55px;margin-bottom: 14px;border: solid;" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
                        <div id="drop2" style="width:55px;height:55px;margin-bottom: 14px;border: solid;" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
                        <div id="drop3" style="width:55px;height:55px;margin-bottom: 14px;border: solid;" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
                        <div id="drop4" style="width:55px;height:55px;margin-bottom: 14px;border: solid;" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
                    </div>
                </div>
                <div class="container-xs col-sm-1" style="background-color: #cbb8ff;border-radius: 0 10px 10px 0;">
                    <div>
                        <br>
                        <div id="drop5" style="width:55px;height:55px;margin-bottom: 14px;border: solid;" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
                        <div id="drop6" style="width:55px;height:55px;margin-bottom: 14px;border: solid;" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
                        <h6>Argent : </h6>
                        <div>{{ user.argent }} <img style="width:20px;height:20px;" src="{{asset('images/coin.png')}}" alt="coin"></div><br>
                        <h6>PV :</h6>
                        <div>{{ user.pvMax }} <img style="width:20px;height:20px;" src="{{asset('images/heart.png')}}" alt="coin"></div>
                    </div>
                </div>
                <div class="container-xs col-sm-1" style="background-color: #b8daff"></div>
                <div class="container-xs col-sm-4" style="background-color: #ffd3b8;border-radius:10px;">
                    <br><h4>Informations sur l'objet</h4>
                    <div style="margin-left: 70px;">
                        <br>
                        <br>
                        <div id="drop" style="width:55px;height:55px;margin-bottom: 14px;border: solid;" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
                    </div>
                </div>
            </div>
            <br><br><br>
            <div class="container-fluid" style="background-color: #ffd3b8;white-space: nowrap;overflow-x: scroll;overflow-y: hidden;border-radius: 10px;">
                <br>
                <div ondrop="drop(event)" ondragover="allowDrop(event)">
                    <img id="img1" style="width:50px;height:50px;margin-right: 10px" src="{{asset('sprites/armes/epee.png')}}" alt="sprite" draggable="true" ondragstart="drag(event)">
                    <img id="img2" style="width:50px;height:50px;margin-right: 10px" src="{{asset('sprites/armes/epeeEnchant.png')}}" alt="sprite" draggable="true" ondragstart="drag(event)">
                    <img id="img3" style="width:50px;height:50px;margin-right: 10px" src="{{asset('sprites/armures/botte.png')}}" alt="sprite" draggable="true" ondragstart="drag(event)">
                    <img id="img4" style="width:50px;height:50px;margin-right: 10px" src="{{asset('sprites/armures/jambières.png')}}" alt="sprite" draggable="true" ondragstart="drag(event)">
                    <img id="img5" style="width:50px;height:50px;margin-right: 10px" src="{{asset('sprites/armures/casque.png')}}" alt="sprite" draggable="true" ondragstart="drag(event)">
                    <img id="img6" style="width:50px;height:50px;margin-right: 10px" src="{{asset('sprites/armures/plastronD.png')}}" alt="sprite" draggable="true" ondragstart="drag(event)">
                    <img id="img7" style="width:50px;height:50px;margin-right: 10px" src="{{asset('sprites/potions/potion.png')}}" alt="sprite" draggable="true" ondragstart="drag(event)">
                    <img id="img8" style="width:50px;height:50px;margin-right: 10px" src="{{asset('sprites/potions/potionV.png')}}" alt="sprite" draggable="true" ondragstart="drag(event)">
                </div>
                <br>
            </div>
        </div>
        <br>
    </div>
    <script>
        user_pref("browser.display.use_document_colors", true);
        function allowDrop(ev) {
            ev.preventDefault();
        }

        function drag(ev) {
            ev.dataTransfer.setData("image", ev.target.id);
        }

        function drop(ev) {
            ev.preventDefault();
            let data = ev.dataTransfer.getData("image");
            ev.target.appendChild(document.getElementById(data));
        }

    </script>
{% endblock %}