{% extends "user/layout_user.html.twig" %}
{% block body %}
    <script>
        declare var event: MouseEvent;
    </script>
    <div class="container-fluid">
        <br><br><br>
        <div class="container-xl" style="background-color: #b8daff;white-space: nowrap">
            <br><h1 style="color:#78ade6">&nbsp;&nbsp;Votre Inventaire</h1><br><br>
            <div class="row" id="inventaire">
                <img style="width:275px;height:275px" src="{{asset('sprites/personnage/personnage.png')}}" alt="image du personnage">
                <div class="container-xs col-sm-1" style="background-color: #cbb8ff;border-radius: 10px 0 0 10px;">
                    <div>
                        <br>
                        <div id="drop1" style="width:55px;height:55px;margin-bottom: 14px;border: solid;" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
                        <div id="drop2" style="width:55px;height:55px;margin-bottom: 14px;border: solid;"></div>
                        <div id="drop3" style="width:55px;height:55px;margin-bottom: 14px;border: solid;"></div>
                        <div id="drop4" style="width:55px;height:55px;margin-bottom: 14px;border: solid;"></div>
                    </div>
                </div>
                <div class="container-xs col-sm-1" style="background-color: #cbb8ff;border-radius: 0 10px 10px 0;">
                    <div>
                        <br>
                        <div id="drop5" style="width:55px;height:55px;margin-bottom: 14px;border: solid;"></div>
                        <div id="drop6" style="width:55px;height:55px;margin-bottom: 14px;border: solid;"></div>
                        <h6>Argent : </h6>
                        <div>{{ user.argent }} <img style="width:20px;height:20px;" src="{{asset('images/coin.png')}}" alt="coin"></div><br>
                        <h6>PV :</h6>
                        <div>{{ user.pv }}/{{ user.pvMax }} <img style="width:20px;height:20px;" src="{{asset('images/heart.png')}}" alt="coin"></div>
                    </div>
                </div>
                <div class="container-xs col-sm-1" style="background-color: #b8daff"></div>
                <div class="container-xs col-sm-5" style="background-color: #ffd3b8;border-radius:10px;">
                    <br><h4 style="text-align: center">Sac à dos</h4>
                    <div class="container-fluid" style="background-color: #ffd3b8;white-space: nowrap;overflow-x: scroll;overflow-y: hidden;border-radius: 10px;">
                        <br>
                        <div id="sac">
                            {% if armes is not empty %}
                                {% for arme in armes %}
                                    <img id="arme{{ arme.id }}" class="item" style="width:50px;height:50px;margin-right: 10px" src="{{asset('sprites/armes/')}}{{arme.sprite}}" alt="sprite" onclick="transferSword(event)" >
                                {% endfor %}
                            {% endif %}

                            {% if armures is not empty %}
                                {% for armure in armures %}
                                    <img id="armure{{ armure.id }}" class="item" style="width:50px;height:50px;margin-right: 10px" src="{{asset('sprites/armures/')}}{{armure.sprite}}" alt="sprite" onclick="transferArmor(event, '{{ armure.nomType }}')" >
                                {% endfor %}
                            {% endif %}

                            {% if potions is not empty %}
                                {% for potion in potions %}
                                    <img id="potion{{ potion.id }}" class="item" style="width:50px;height:50px;margin-right: 10px" src="{{asset('sprites/potions/')}}{{potion.sprite}}" alt="sprite" onclick="transferPotion(event)" >
                                {% endfor %}
                            {% endif %}
                        </div>
                        <br>
                    </div>
                </div>
            </div>
            <br><br><br>
        </div>
        <br>
    </div>
    <script>
        function transferSword(ev) {
            if(document.getElementById("drop5").firstChild !== null){
                document.getElementById("sac").appendChild(document.getElementById("drop5").firstChild);
                document.getElementById("drop5").appendChild(document.getElementById(ev.target.id));
            } else {
                document.getElementById("drop5").appendChild(document.getElementById(ev.target.id));
            }
        }
        function transferPotion(ev) {
            if(document.getElementById("drop6").firstChild !== null ){
                document.getElementById("sac").appendChild(document.getElementById("drop6").firstChild);
                document.getElementById("drop6").appendChild(document.getElementById(ev.target.id));
            } else {
                document.getElementById("drop6").appendChild(document.getElementById(ev.target.id));
            }
        }
        function transferArmor(ev,type) {
            switch (type) {
                case 'Casque':
                    if(document.getElementById("drop1").firstChild !== null){
                        document.getElementById("sac").appendChild(document.getElementById("drop1").firstChild);
                        document.getElementById("drop1").appendChild(document.getElementById(ev.target.id));
                    } else {
                        document.getElementById("drop1").appendChild(document.getElementById(ev.target.id));
                    }
                    break;
                case 'Plastron':
                    if(document.getElementById("drop2").firstChild !== null){
                        document.getElementById("sac").appendChild(document.getElementById("drop1").firstChild);
                        document.getElementById("drop2").appendChild(document.getElementById(ev.target.id));
                    } else {
                        document.getElementById("drop2").appendChild(document.getElementById(ev.target.id));
                    }
                    break;
                case 'Jambières':
                    if(document.getElementById("drop3").firstChild !== null){
                        document.getElementById("sac").appendChild(document.getElementById("drop1").firstChild);
                        document.getElementById("drop3").appendChild(document.getElementById(ev.target.id));
                    } else {
                        document.getElementById("drop3").appendChild(document.getElementById(ev.target.id));
                    }
                    break;
                case 'Chaussures':
                    if(document.getElementById("drop4").firstChild !== null){
                        document.getElementById("sac").appendChild(document.getElementById("drop1").firstChild);
                        document.getElementById("drop4").appendChild(document.getElementById(ev.target.id));
                    } else {
                        document.getElementById("drop4").appendChild(document.getElementById(ev.target.id));
                    }
                    break;
            }
        }
    </script>
{% endblock %}