{% extends "user/layout_user.html.twig" %}
{% block body %}
    <div class="container" style="text-align: center">
        <div>
            <div class="container" style="background-color: #ffd3b8;border-radius:10px;">
                <div id="sac" class="col-sm-12" style="text-align: center">
                    <br><h1>Sac à dos</h1>
                    <br>
                    <div> Argent : {{ argent }} <img style="width:20px;height:20px;" src="{{asset('images/coin.png')}}" alt="coin"></div>
                    <br>
                    <h4>Vendre des items :</h4><br>
                </div>
                <div class="container-xs col-sm-12">
                    <div class="row" style="background-color: #ffd3b8;white-space: nowrap;overflow-x:hidden;overflow-y:scroll;border-radius: 10px;height: 225px;text-align: justify;">
                            <!-- Afficher tous les objets de User + bouton pour vendre qui envoie l'id de l'objet, son groupe et aussi l'id de l'inventaire -->
                            {% for key,group in inventory %}
                                {% for item in group %}
                                    <div style="height: 100px;width: 100px;margin-bottom: 40px;text-align: center">
                                        {%  if item.sprite is not empty %}
                                            <img class="img-fluid rounded"  style="width:50px;height:50px"  src="{{asset('sprites/')}}{{ key }}/{{item.sprite}}"  alt="image  de {{ item.nom }}" >
                                        {% endif %}<br>
                                        <a href="{{ path('shop.sell', {id: item.id, group: key, inventID: item.inventID} )}}" class="btn btn-warning">{{ item.prix - (item.prix*20/100) |round }} <img style="width:15px;height:13.5px;" src="{{asset('images/coin.png')}}" alt="coin"></a>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br>

        <h3>Armes</h3>
        <div class="row">
            <br>
            {% for item in armes %}
                <div class="col-2 mt-4">
                    <div class="border border-dark rounded p-2 clearfix">
                        <h6>
                            {{ item.nom }}
                        </h6>
                        {%  if item.sprite is not empty %}
                            <img class="img-fluid rounded"  style="width:50px;height:50px"  src="{{asset('sprites/armes/')}}{{item.sprite}}"  alt="image  de {{ item.nom }}" >
                        {% endif %}
                        <hr>
                        <a href="{{ path('shop.buyArme', {id: item.id} )}}" class="btn btn-success
                           {% if app.user.argent < item.prix %}disabled{% endif %}" >{{ item.prix }}<img style="width:20px;height:20px;" src="{{asset('images/coin.png')}}" alt="gold"></a>
                    </div>
                </div>
            {% endfor %}
            <br>
        </div>
        <br><br><br>

        <h3>Armures</h3>
        <div class="row">
            <br>
            {% for item in armures %}
                <div class="col-2 mt-4">
                    <div class="border border-dark rounded p-2 clearfix">
                        <h6>
                            {{ item.nom }}
                        </h6>
                        {%  if item.sprite is not empty %}
                            <img class="img-fluid rounded"  style="width:50px;height:50px"  src="{{asset('sprites/armures/')}}{{item.sprite}}"  alt="image  de {{ item.nom }}" >
                        {% endif %}
                        <hr>
                        <a href="{{ path('shop.buyArmure', {id: item.id} )}}" class="btn btn-success
                           {% if app.user.argent < item.prix %}disabled{% endif %}" >{{ item.prix }}<img style="width:20px;height:20px;" src="{{asset('images/coin.png')}}" alt="gold"></a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <br><br><br>

        <h3>Potions</h3>
        <div class="row">
            <br>
            {% for item in potions %}
                <div class="col-2 mt-4">
                    <div class="border border-dark rounded p-2 clearfix">
                        <h6>
                            {{ item.nom }}
                        </h6>

                        {%  if item.sprite is not empty %}
                            <img class="img-fluid rounded"  style="width:50px;height:50px"  src="{{asset('sprites/potions/')}}{{item.sprite}}"  alt="image  de {{ item.nom }}" >
                        {% endif %}
                        <hr>
                        <a href="{{ path('shop.buyPotion', {id: item.id} )}}" class="btn btn-success
                           {% if app.user.argent < item.prix %}disabled{% endif %}">{{ item.prix }}<img style="width:20px;height:20px;" src="{{asset('images/coin.png')}}" alt="gold"></a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}